<h1>Festival Acts</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Stage</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @acts.each do |act| %>
      <% if act.want_to_see %>
        <tr class="success">
      <% else %>
        <tr>
      <% end %>
          <td><%= act.name %></td>
          <td><%= act.time %></td>
          <td><%= act.stage %></td>
          <td><%= link_to 'Edit', edit_act_path(act) %></td>
          <td><%= link_to 'Delete', act, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
        </tr>
    <% end %>
  </tbody>
</table>
